---
---

// start content

@import "colors";
@import "background";


/* Use the variables */

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

h1 {
  color: $myBlack;
  margin-left: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-left: 0px;
  text-align: left;
}


p {
  font-family: verdana;
  font-size: 20px;
}



// format for box

.boxed {
     border: 2px solid black;
     padding-top: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     background-color: coral;
 }

 .tab { text-indent: 10px; }

 // center an image

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
