<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MathJax</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <h1>MathJax Examples</h1>
        <p><a href="/subjects/sets.html">Set Notation</a></p>
        <p><a href="/subjects/functions.html">Functions</a></p>
        <p><a href="/subjects/proofs.html">Mathematical Proofs</a></p>
        <p><a href="/subjects/abstract_algebra.html">Abstract Algebra</a></p>
        <p><a href="/subjects/logic.html">Logic</a></p>
        <p><a href="/subjects/relations.html">Relations</a></p>
        <p><a href="/subjects/numbers.html">Number Systems</a></p>
        <p><a href="/subjects/modular_arithmetic.html">Modular Arithmetic</a></p>
        <p><a href="/subjects/general.html">General Notation</a></p>
        <p><a href="/subjects/category_theory.html">Category Theory</a>
    </body>
</html>
