<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MathJax</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>MathJax Examples</h1>

        <p><a href="/sets.html">Set Notation</a></p>
        <p><a href="/functions.html">Functions</a></p>
        <p><a href="/proofs.html">Mathematical Proofs</a></p>
        <p><a href="/logic.html">Logic</a></p>
        <p><a href="/interactive.html">Interactive</a></p>
        <p><a href="/general.html">General Notation</a></p>
    </body>
</html>
